<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="">Aidez-nous à limité la propagation du virus</a></li>
                   
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, disgned by <a href="http://ezechiel-sums.web.app/">Sum's</a> <i class="fa fa-heart heart"></i> </span>
            </div>
        </div>
    </div>
</footer>
